.header-main {
  margin: 10px;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
}
.main {
  display: flex;
  justify-content: center;
}
.App {
  position: fixed;
  left: 25%;
  z-index: -1;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}